<!DOCTYPE html>
<html lang='en'>

<%- include('partials/header') %>

<body>
    <div class="notice-box">
        <h1>Welcome <%= name %></h1>
        <p>Dashboard is empty at the moment</p>
    </div>
    <div class="container">
        <div class="exercises">
            <div class="tabs">
                <button>Begin</button>
                <button>Edit</button>
            </div>
            <div>Exercises</div>
        </div>
        <div class="calendar">
            <div>Calendar</div>
            <div class="daily-notes">Daily Notes</div>
        </div>
    </div>
</body>

<%- include('partials/footer') %>

</html>