<!DOCTYPE html>
<html lang='en'>

<%- include('partials/header') %>

<body>
    <div class='container'>
        <h1>Welcome <%= name %></h1>
        <p>Dashboard is empty at the moment</p>
    </div>
</body>

<%- include('partials/footer') %>

</html>