<!DOCTYPE html>
<html lang='en'>

<%- include('partials/header') %>

<body>
    <div class='container'>
        <h1>Welcome to mascari.me</h1>
        <p>Default landing page while I work on this project. Please visit <a href='/resume'>mascari.me/resume</a> if you have a job opportunity!</p>
    </div>
</body>

<%- include('partials/footer') %>

</html>
