<!DOCTYPE html>
<html lang='en'>

<%- include('partials/header') %>

<body>
    <h1>Sign Up</h1>
    <form action='/signup' method='POST'>
        <label for='username'>Username</label><br>
        <input type='text' id='username' name='username' required><br>
        
        <label for='password'>Password</label><br>
        <input type='password' id='password' name='password' required><br>

        <button type='submit'>Sign Up</button>
    </form>
    <br>
    <a href='/login'>Already have an account? Log in</a>
</body>

<%- include('partials/footer') %>

</html>
